<%- include ('partials/header.ejs')%>
<%- include ('partials/navbar.ejs')%>

<div class="container">

    <div class="card">
        <div class="card-header">
            <h1>Alterar Produto</h1>
            <hr>
            <form action="/produto/update/<%= produto.id %>" method="post">
                <label>Produto:</label>
                <input type="text" name="nome" class="form-control" value="<%= produto.nome %>" required>

                <label>Cpf do Cliente:</label>
                <input type="text" name="cpf" class="form-control" value="<%= cliente.cpf %>" required>

                <label>Endereço do Cliente:</label>
                <input type="text" name="endereco" class="form-control" value="<%= cliente.endereco %>" required>
                <input type="hidden" name="id" value="<%= cliente.id %>">

                <br>

                <input type="submit" value="Alterar" class="btn btn-warning"  onclick="return confirm('Você tem certeza que deseja alterar os dados deste cliente?')">
            </form>
            </hr>
        </div>
    </div>

</div>

<%- include ('partials/footer.ejs')%>